body{
    text-align: center;
}
#formContainer{
    margin: auto;
    width: 80%;
    text-align: center;
}

input{
    display: block;
    margin: auto;
}
button{
    margin:auto;
    display:block;
}